/*RESET CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243,243,243);
    margin: 0;
    padding: 0;
    display: flex;
}

/*O que faz o display flex?
*Transforma a div em um flex container
*Container que todos os itens dentro dele ficarão em linha ocupando o maior espaço dentro da linha ou toda linha, até chegar na borda
*É em linha por padrão
*align-item eixo y
*justify-content eixo x*/
.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img{
    height: 50rem;
}

.instagram-continue{
    display: flex;
    align-items: center; /*horizontal*/
    justify-content: space-around; /*vertical*/
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #FA0874, #FFC446);
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgrey;
}

/*Seletor CSS que pega os filhos do elemento, o número indica qual filho é pela ordem*/
.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3rem
}
/*overflow: hidden
Para imagem não exceder o tamanho da div para fora, tudo que saí de quadrado indo para fora fica escondido*/
.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img{
    height: 8rem;
}

.instagram-login{
    background-color: #0095F6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout{
    color: #070666;
    margin-top: 1rem;
}

.not-account{
    color: #000
}

.link-blue{
    color: #070666
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.3rem
}

.app-download{
    height:3rem;
    width:10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url(./img/apple-button.png);
}

.app-download:nth-child(2){
    background-image: url(./img/googleplay-button.png);
}
